In [1]:
import pandas as pd

In [2]:
##TO LOAD THE DATASET
Data1= pd.read_csv("/Users/sumaiyairshad/Desktop/MS in Data Science/PRACTICE_DATASETS/diabetes.csv")

In [3]:
Data1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# Checking the missing values
Data1.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
##TO FILL THE MISSING VALUES
# Our dataset contains only numerical type of column
# so we can fill the missing values by using mean() or median()

In [5]:
##TO FILL THE MSSING VALUE WITH MEAN
Data2 = Data1.fillna(Data1.mean())

In [6]:
##TO CHECK THE MSSING VALUES IN DATA2 
Data2.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
##TO FILL THE MSSING VALUES WITH MEDIAN
Data3 = Data1.fillna(Data1.median())

In [8]:
##AGAIN,CHECKING THE MISSING VALUES
Data3.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
##DROPNA WILL DELETE THE ENTIRE ROW WITH MSSING VALUES
Data4 = Data1.dropna()

In [10]:
# Checking the missing value in Data4
Data4.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64